body {
  background: rgb(209, 209, 209);
  font-family: Arial, Helvetica, sans-serif;
}

div.menu {
  background-color: white;
  width: 100%;
  height: 7.5rem;
  position: fixed;
  top: 0px;
  right: 0px;
  display: block;
}
div.sidebar {
  background-color: white;
  width: 15%;
  height: 100%;
  left: 0px;
  position: fixed;
  top: 0px;
  border-right: 2px solid rgba(241, 241, 241, 0.603);
}
img {
  height: 7rem;
}
.menu .item {
  display: inline-block;
}

.menu .item a {
  color: #9e9e9eef;
  font-size: 1.5rem;
  text-decoration: none;
}

.menu .item.selected a {
  border-bottom: 3px solid red;
  color: black;
}

.menu ul {
  width: 100%;
  font-weight: bold;
  text-align: left;
  font-style: normal;
  margin-left: 15%;
}
.menu ul li {
  margin: 25px;
}
.menu .item a:hover {
  border-bottom: 3px solid red;
  color: black;
}

.card-container .card {
  display: inline-block;
  width: 10px;
  height: 15px;
  border: 1px;
  border-color: #333333;
  font-size: 1.6px;
  margin-top: 2px;
  margin-left: 2px;
}
.card-container{
  display: inline-block;
}
.main-container {
  padding-left: 17%;
  padding-top: 7.5rem;
}

td {
  padding: 6px;
  
}

.centro {
  text-align: center;
}

.bold {
  font-weight: bold;
  color: black;
}

button {
  border-color: rgb(199, 27, 27);
  font-size: medium;
  text-align: center;
  margin: auto;
  width: 90%;
  height: 55px;
  background-color: white;
  cursor: pointer;
}

table {
  background-color: white;
  border: 1px solid #3333338f;
  height: 380px;
  width: 350;
  margin-top: 10;
  border-collapse: collapse;
}


.hrcard {
  width: 100%;
}
.header {
  text-align: center;
  font-weight: bold;
  padding-top: 17px;
  padding-bottom: 5px;


}

table tr .centro a {
  color: rgb(199, 27, 27);
  text-decoration: none;

}

