body {
  background: rgb(209, 209, 209);
}
div.menu {
  background-color: white;
  width: 74.5%;
  height: 6rem;
  position: fixed;
  top: 0px;
  right: 0px;
  display: block;
}
div.sidebar {
  background-color: white;
  width: 25%;
  height: 100%;
  left: 0px;
  position: fixed;
  top: 0px;
  border-right: 2px solid rgba(241, 241, 241, 0.603);
}
img {
  height: 5.5rem;
}


